:root {
  --ifm-color-primary-lightest: #fa6cc0;
  --ifm-color-primary-lighter: #f944ae;
  --ifm-color-primary-light: #f937a9;
  --ifm-color-primary: #f81c9d;
  --ifm-color-primary-dark: #f10790;
  --ifm-color-primary-darker: #e40788;
  --ifm-color-primary-darkest: #bb0670;
}

.clean-btn {
  color: var(--ifm-navbar-link-color);
}
